body{
    background: rgb(6,5,14);
    background: linear-gradient(90deg, rgba(6,5,14,1) 0%, rgba(7,27,10,1) 31%, rgba(21,0,33,1) 100%);
    text-align: center;

}
.entryform{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: blanchedalmond;
    justify-content: space-between;
    text-align: center;
}
.ok{
    width: 100px;
    height: 40px;
    border: none;
    background: #09044e;
    color: #fff;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    cursor: pointer;
}
.logo img{
    width: 150px;
}