.header 
{
    
    height: 40px;
    display: flex;
    flex-direction: row;
    /* justify-content:right;
    align-items: center; */
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: blanchedalmond;
    

}
.logo img{
    width: 150px;
}
.menu{
    width: 80%;
}
.menu ul{
    list-style-type:none;
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    margin-top: 50px;
}
body{
    background: rgb(6,5,14);
    background: linear-gradient(90deg, rgba(6,5,14,1) 0%, rgba(7,27,10,1) 31%, rgba(21,0,33,1) 100%);
}
.loginb{
    background-color: rgb(7, 42, 73);
    padding: 5px 10px;
    border-radius: 10px;
    /* color: rgb(6,5,14) ; */

}

.signupb{
    background-color: rgb(32, 5, 48);
    padding: 5px 10px;
    border-radius: 10px;
    /* color: rgb(6,5,14) ; */
}
.menu ul li a{
    text-decoration: none;
    color: antiquewhite;
}