body{
    background: rgb(6,5,14);
    /* background: linear-gradient(130deg, rgb(27, 74, 75) 0%, rgb(7, 23, 27) 31%, rgba(21,0,33,1) 100%); */
    background: rgb(13,7,31);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-align: center;

}
.suform p{
    margin-top: -20px;
    font-size:25px;
    font-weight: 500;
    color: black;
}
.suform h1{
    color: black;
}
.suform{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: blanchedalmond;
    /* justify-content: space-between; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.logo img{
    width: 150px;
}
.ok{
    width: 100px;
    height: 40px;
    border: none;
    background: #09044e;
    color: #fff;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    cursor: pointer;
}
.lin{
    width: 100px;
    height: 40px;
    border: none;
    background: #09044e;
    color: #fff;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30vw;
    background-color: black;
    padding: 40px;
    border-radius: 20px;
}
form div {
    width: 100%; 
    text-align: left;
    
}
form div input{
    width: 100%;
    flex-wrap:wrap;
    }
