
body{
  background: rgb(6,5,14);
  /* background: linear-gradient(130deg, rgb(27, 74, 75) 0%, rgb(7, 23, 27) 31%, rgba(21,0,33,1) 100%); */
  background: rgb(13,7,31);
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  text-align: center;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 3px solid purple;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 35%;
}

thead th:nth-child(4) {
  width: 15%;
}

th, td {
  padding: 15px;
}
.tbl{
  background-color: black;
  color: antiquewhite;
}
.logo img{
    width: 150px;
  
}