body{
  
    background: rgb(13,7,31);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-align: center;


}
.entryform form{
  background-color: black;
  color:white ;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
 margin: 0 auto;
 font-size: 20px;
}
.ok{
  margin: 0 auto;
}
.fip{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: blanchedalmond;
  justify-content: space-between;
  text-align: center;
}
.logo img{
  width: 250px;
}
.ok{
  width: 100px;
  height: 40px;
  border: none;
  background: #09044e;
  color: #fff;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  cursor: pointer;
}